<?xml version="1.0"?>
<!--
/**
 * Contact
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sy_developer>
			<contacts>
				<skype>darks_v1rus</skype>
				<telegram>darks_virus</telegram>
				<github>SlavaYurthev</github>
				<marketplace>Slava Yurthev</marketplace>
			</contacts>
		</sy_developer>
		<sy_contact>
			<general>
				<active>0</active>
				<email_template>sy_contact_general_email_template</email_template>
				<fields>[{"key":"email","label":"E-Mail","field_class":"required validate-email","default_value":"","options":"","show_if":"","field_type":"email"},{"key":"message","label":"Message","field_class":"required","default_value":"","options":"","show_if":"","field_type":"textarea"}]</fields>
				<add_customer_in_cc>0</add_customer_in_cc>
			</general>
		</sy_contact>
	</default>
</config>