<?xml version="1.0"?>
<!--
/**
 * Contact
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sy_developer>
			<contacts>
				<skype>darks_v1rus</skype>
				<telegram>darks_virus</telegram>
				<github>SlavaYurthev</github>
				<marketplace>Slava Yurthev</marketplace>
			</contacts>
		</sy_developer>
		<sy_contact>
			<general>
				<active>1</active>
				<fields>[{"key":"email","label":"E-Mail","field_class":"required validate-email","field_type":"email"},{"key":"message","label":"Message","field_class":"required","field_type":"textarea"}]</fields>
			</general>
		</sy_contact>
	</default>
</config>