<?xml version="1.0"?>
<!--
/**
 * Contact
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="slava_yurthev" translate="label" sortOrder="1000">
			<label>Custom Contact</label>
		</tab>
		<section id="sy_contact" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Contact Us</label>
			<tab>slava_yurthev</tab>
			<resource>SY_Contact::configuration</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Active</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="fields" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Fields</label>
					<frontend_model>SY\Contact\Block\Adminhtml\System\Config\Form\Field\Fields</frontend_model>
					<backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
					<comment><![CDATA[
					* You can use directives in for the Default Value such as {{customer.firstname}} {{customerDefaultBilling.city}}<br>
					** Enter a field name to show the current field only, if another one is filled.
					]]></comment>
				</field>
				<field id="email_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Email Template</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				<field id="send_to" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Send To</label>
					<comment>Manager Email to Receive New Requests</comment>
				</field>
			</group>
		</section>
	</system>
</config>
